*{
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    border: black solid;
}
.header{
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    column-gap: 100px;
    border-bottom: gray 0.5px solid;
    align-items: center;
}


.nav1 li{
    display: inline-block;
    margin-left: 22px;
    font-size: 22px;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    color: rgb(71, 71, 134);
}
.nav2{
    align-content: center;
    cursor: pointer;
    }
    span i{
        margin-left: 20px;
        color: rgb(71, 71, 134);
    }
    input[type]{
        height: 30px;
        width: 200px;
        border:rgb(71, 71, 134) solid ;
        border-radius: 15px;
        padding-left: 20px;
        color: rgb(71, 71, 134);
    }
    .nav1 li a:hover, .nav2 span i:hover{
        color: red;
        
    }
    .aboutus{
        height: 900px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: gray 0.5px solid;
        
    }
    .aboutus h6{
        height: 40px;
        width: 150px;
        border: black solid;
        text-align: center;
        align-content: center;
        border-radius: 10px;
        color: rgb(77, 71, 71);
    
    }
    .aboutus1{
        display: flex;
        column-gap: 80px;
    }
    .aboutus2{
        width: 50%;
    }
    .aboutus a{
        text-decoration: none;
        font-size: 20px;
        border: none;
        border-bottom:black 0.5px solid; 
        cursor: pointer;
    color: black;
    }
    
    .aboutus1  a:hover{
color:red;
    }
    .collections{
        height: 550px;
        width: 100%;
        margin-top: 50px;
        display: flex;
        column-gap: 40px;
        padding-left: 20px;
    
    }
    .collections1{
        align-content: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
        border-bottom:0.5px black solid;
    }

    .collections1 a{
        padding: 17px 30px;
        text-align: center;
        border: black solid;
        border-radius: 15px;
        font-size: 18px;
        color: black;
        text-decoration: none;
        
        
    }
     
    .collections1 a:hover{
        color: white;
        background-color:black;
    }
    .explore{
        height: 400px;
        width: 100%;
        margin-top: 50px;
        display: flex;
        border-bottom:0.5px black solid;
    }
    .explore1{
        width: 50%;
        color: rgb(66, 64, 64);
    }
    .explore2{
        width: 50%;
        font-size: 18px;
        margin-top: 30px;
        color: #575656;
    }
    .explore2 a{
        text-decoration: none;
        color: black;
        border: black solid;
        padding: 15px 20px;
        border-radius: 10px;
        
    }
    .explore2 a:hover{
        color: white;
        background-color: black;
    }
    .team{
        height: 630px;
        width: 100%;
        background-color: rgb(241, 230, 214);
        padding-left: 20px;
        padding-top: 40px;
    }
    .team h5{
        height: 35px;
        width: 110px;
        align-content: center;
        text-align: center;
        border: black 0.5px solid;
        border-radius: 10px;
        color: rgb(77, 71, 71);
    }

    .team1{
        display: flex;
        column-gap: 20px;

    }
    .team1A{
        height: 450px;
        width: 295px;
        border: black 0.5px solid;
        
    }
    .team img{
        height: 320px;
        width: 290px;
    }
    .team1A h6{
        font-size: 14px;
    }
    .icons{
        height: 400px;
        width: 100%;
        display: flex;
        column-gap: 50px;
        justify-content: center;
        margin-top: 50px;
    }
    .icons1, .icons2,.icons3{
        height: 350px;
        width: 350px;
        border:  black solid;
        background-color: rgb(243, 242, 240);
        border-radius: 15px;
        text-align: center;
        align-content: center;
        
    }
    .icons img{
        height: 100px;
    }
    .icons h{
font-size: 25px;
    }
    .icons p{
        font-size: 18px;
        color: rgb(73, 71, 71);
    }
    .blogs{
        margin-top: 50px;
        height: 80px;
        width: 100%;
        display: flex;
        column-gap: 100px;
        align-items: center;
        justify-content: center;
    }
    .blogs a{
        margin-left: 700px;
        text-decoration: none;
        font-size: 20px;
        border: none;
        border-bottom:black 0.5px solid; 
        cursor: pointer;
    color: black;
    }
    
    .blogs  a:hover{
color:red;
    }
    .blogs h5{
        height: 35px;
        width: 110px;
        align-content: center;
        text-align: center;
        border: black 0.5px solid;
        border-radius: 10px;
        color: rgb(77, 71, 71);
    }
  


    .categories1{
        height: 600px;
        width: 100%;
        margin-top: 10px;
        justify-content: center;
       margin-left: auto;
       margin-right: auto;
       display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 50px;
        
    }
    .parent1{
        margin-top: 30px;
        width: 370px;
        height: 550px;
        overflow:hidden;
        cursor: pointer;
        box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
        
        
    }
    .childs{
    height: 74%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    }
    .bg-ones{
        background-image: url(images/art1.jpg);
    }
    .bg-twos{
        background-image: url(images/art2.jpg);
    }
    .bg-threes{
        background-image: url(images/art3.jpg);
    }
    .parent1:hover .childs{
        transform:scale(1.1);
    }
    .parent1 p{
        display: inline-block;
        margin-top: 300px;
        margin-left: 50px;   
        background-color:transparent;
    }
    .parent1  a{
        text-decoration: none;
        padding: 8px 20px;
        border: white 0.8px solid;
        background-color: white;
        height: auto;
        width: auto;
        color:black;
        font-size: 19px;
        border-bottom: black 0.5px solid;
        
    }
    .parent1 a:hover{
        color: red;
    }
    .parent1 h6{
        font-size: 18px;
    }
    .testimonial{
        height: 540px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        background-color:  rgb(201, 219, 219);
        padding-top: 10px;
    }
    .testimonial1{
        height: 120px;
        width: 100%;
    }
    .testimonial1 h5{
        height: 40px;
        width: 140px;
        align-content: center;
        text-align: center;
        border: black 0.5px solid;
        border-radius: 15px;
        color: rgb(77, 71, 71);
    }
    .testimonial2{
        height: 400px;
        width: 100%;
        display: flex;
        column-gap: 40px;
        margin-top: 20px;
    }
    .testimonial2A{
        width: 300px;
    }
    .testimonial2B{
        width:700px
    }
.testimonial2C{
    width: 300px;
    text-align: center;
}
.testimonial2B a{
        font-size: 18px;
    cursor: pointer;
   color: black;
   margin-left: 450px;
  
   }
   
   .testimonial2B  a:hover{
color:red;
   }

   .faq{
    height: 950px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: gray 0.5px solid;

   }
   .faq1{
    height: 150px;
    width: 100%;
    
   }
   .faq1 h5{
    height: 40px;
    width: 100px;
    align-content: center;
    text-align: center;
    border: black 0.5px solid;
    border-radius: 15px;
}
.faq2{
    height: 700px;
    width: 100%;
    display: flex;
    
}



.accordion{  
    height: 750px;          
    width: 700px;
    padding-top: 80px;

}

.accordion-item{
    border-radius: 5px;
    margin-bottom: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: gray 0.5px solid;
}

.accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color:rgb(250, 245, 245);
    cursor: pointer;
    transition: background-color 3s;
}


.accordion-symbol{
    font-size: 35px;
    color: red;
    transition: transform 0.2s;
}

.accordion-content{
    display: none;
    padding: 15px;
    background-color:rgb(250, 245, 245);
    border-top: 1px solid, rgb(250, 245, 245);
}

.accordion-content p{
    margin: 0;
    font-size: 15px;
}

.accordion-header.active .accordion-symbol{
    transform: rotate(45deg);
}
.acco{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-header h2{
    font-size: 17px;
}
.footer{
    height: 500px;
    width: 100%;

}


.content{
    height: 350px;
    width: 100%;
    display: flex;
margin-top: 30px;
    column-gap: 380px;
}
.cont1{
    margin-left: 50px;
}
.cont2{
    display: flex;
    margin-top: 70px;
    }
.cont2 input {
   border: 0px;
   width: 300px;
   height: 50px;
   }
   input[type]{
    font-size: 15px;
    border-bottom: gray solid;
   }
.cont2 a{
    text-decoration: none;
    margin-left:-65px;
}

.cont3{
    display: flex;
    margin-left:10px;
    }
.cont3 a{
    text-decoration: none;
    color: rgb(116, 112, 112);
    padding:10px;
}
.cont3 a:hover{
    color: red;
}
.cont3 li{
    list-style-type: none;
    margin-left: 50px;
    margin-top: 25px;
}

.copyright{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(85, 81, 81);
}